body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

#ClickThePenis {
    color:aqua;
}

#penis {
    width:750px;
}

#screen {
    width:100%;
}

#CumCountDisplay {
    font-size:25px;
}

#CumPerSecondDisplay {
    font-size:25px;
}